.canvas-controllers {
  display: flex;
  gap: 20px;
  padding: 0 2rem;
  justify-content: flex-start;
  align-items: start;
}

.hide {
  display: none;
}

.workspace {
  margin-top: 1rem;
  display: flex;
  overflow: hidden;
  gap: 20px;
}

.canvas-section {
  flex-grow: 1;
  padding: 10px;
  background-color: #d1d1d1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.drawing-board {
  background-color: white;
  cursor: crosshair;
  width: 1200px;
  height: 2000px;
}
