.color-section {
  padding: 5px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d1d1d1;
}

.color-palette {
  max-width: max-content;
  width: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  margin-bottom: 5px;
}

.color {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  cursor: pointer;
}

.color:hover {
  border: 1px solid #000;
}
