.color-palette {
  max-width: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  margin-bottom: 5px;
}

.color {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  cursor: pointer;
}

.color:hover {
  border: 1px solid #000;
}
