.stroke-size {
  display: flex;
  gap: 10px;
}

.stroke-button {
  text-align: center;
  padding: 0.54em 2rem;
  border: none;
  width: 30px;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 1px 1px 5px -1px rgb(139, 137, 137);
  transition: box-shadow ease-in 100ms;
}

.stroke-button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px -1px rgb(48, 47, 47);
}
