.stroke-size {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.stroke-button {
  text-align: center;
  border: none;
  width: 70px;
  height: 30px;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 1px 1px 5px -1px rgb(139, 137, 137);
  transition: box-shadow ease-in 100ms;
}

.stroke-button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px -1px rgb(48, 47, 47);
}
