* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  overflow: scroll;
}

h1 {
  font-weight: 550;
  font-size: 0.9rem;
  margin: 0.4rem 0 0.8rem 0.1;
}
